/* LAYOUT */
* {
  text-decoration: none;
}

body {
  color: #333;
  font-family: 'Merriweather', serif;
  font-size: 125%;
  line-height: 1.5;
  max-width: 55rem;
  padding: 1rem;
  margin: 0 auto;
  border: 1px solid #cccccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  justify-content: space-between;
}

.site-header{
  
}




.post-title {
  margin-bottom: 1rem;
}

.post-date {
  display: block;
  margin-bottom: 2rem;
  font-style: italic;
}

.content {
  margin-bottom: 2rem;
}

img {
  max-width: 100%;
}

/* NAVIGATION */

.site-nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #cccccc;
}

.site-nav a {
  text-transform: uppercase;
  display: block;
  padding: 1rem;
  
}

.site-nav .logo {
  font-weight: bold;
  padding-left: 0;
}

.main-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer {
  border-top: 1px solid #cccccc;
  text-align: center;
}
.footer  p {
  margin-bottom: 0;
}

/* LISTS */

.post-snippet {
  margin-bottom: 1rem;
}

.post-snippet h3 {
  margin-bottom: 0.25rem;
}


/* Card Styles */
.card {
 background-color: #ffffff; /* White Background for Cards */
 border: 1px solid #cccccc; /* Light Gray Border for Cards */
 border-radius: 5px; /* Rounded Corners for Cards */
 padding: 1rem; /* Padding Inside Cards */
 margin-bottom: 1rem; /* Space Between Cards */
 box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional Shadow for Cards */

}

/* Heading Styles */
.card h3 {
 font-size: 1.25rem; /* Size of Card Headings */
 font-weight: bold; /* Bold Text for Card Headings */
 margin-bottom: 0.5rem; /* Space Below Card Headings */
}

.card p {
 font-size: 1rem; /* Size of Card Paragraphs */
 color: #333333; /* Dark Text Color for Card Paragraphs */
}
.grid-container {
  
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.4rem;
}

.cards-section {
  background: #f7f7f7;
  border: 1px solid #cccccc;
  border-radius: 5px; 
  padding: 1rem; 
  margin-bottom: 1rem; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}


@media screen and (max-width: 48rem) {
  .site-nav,
  .main-menu {
    flex-direction: column;
  }

  .site-nav a {
    padding: 0.5rem;
    padding-left: 0;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }
}